<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="监控中心" preserve-order="true">
    <suite-files>
        <suite-file path="testng-mointor-suit.xml" />
        <suite-file path="testng-vehicle-suit.xml" />
    </suite-files>
    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter" />-->
        <listener class-name="com.example.test.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>